*{
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.row {
	width: 100%;
}


/*********** media **********/
@media (min-width:992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.col-mg-6 {
		float: left;
		width: 50%;
	}
	.col-mg-12 {
		float: left;
		width: 100%;
	}
}

@media (max-width:767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
	}
}


/************ food title **************/
.food_title {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 1px 10px  1px 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	width:100px;
	text-align: center;
	font-weight: bold
}

#chicken {
	background-color: #F08080;
}

#beef {
	background-color: #B22222;
	color: white;
}

#sushi {
	background-color: #F0E68C;
}


/************ container  **************/
.container {
	background-color: #808080;
	border:3px solid black;
	overflow: auto;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	position: relative;
	float: left;
}